<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.8.2" targetFramework="net48" developmentDependency="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Drawing.Common" version="10.0.0" targetFramework="net48" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net48" />
</packages>